altair<6.0.0
appdirs>=1.4.0
eli5==0.16.0
fastapi==0.115.12
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.5
pydantic_core==2.33.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
shap==0.47.2
uvicorn==0.34.2
cloudpickle==3.1.1